body{

    
}
.container {
    display: flex;
    flex-direction: row;
}
.main{
    background-color: rebeccapurple;
    border: solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
