body{
  margin: 0;
  padding: 0;
  height: 100vh;
      
  }
  .container {
      display: flex;
      flex-direction: row;
      justify-content:space-evenly;
  }
  .main{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      background-color: black;
  
  }
  
  @media (max-width:320px) {
    .container{
        display: flex;
        flex-direction: column;

    }
    form{
        margin: 0;
        display: flex;
        flex-direction: column;
        border: solid rebeccapurple;
        margin: 0;
    }
    .name, .email {
        margin: 0;
    }
    
  }
  .airline{
      background-image: url(img/airline.jpg);
      background-position: center;
      background-size: cover;
      width: 100%;
  }
  .image-text{
      font-size: 85px;
      text-align: center;
  }
  
  .title{
      text-align: center;
      font-size: 60px;
      color: orange;
  }
  
  .payline {
      text-align: center;
      margin: 0;
      color: aliceblue;
      font-size: 25px;
  }
  form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 20px;
      margin: 40px;
  }
  .name, .email {
      padding: 10px;
      margin:0 5px 0 ;
      background-color: skyblue;
      border-radius: 10px;
      font-size: 28px;
  }
  .name, .email{
    margin-bottom: 10px;
  }
  button{
      padding: 10px;
      margin: 15px;
      width: 85px;
      border-radius: 10px;
      font-size: 25px;
      background-color: lightgreen;
  }
  button:hover{
    background-color: chartreuse;
  }
  
  .newsletter {
      color: orange;
      font-size: 900;
      margin-left: 5px;
      font-size: 21px;
  }
  .check{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
  }